<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.4.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit.Console" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net45" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net45" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net45" />
</packages>