<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.51.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net45" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net45" />
</packages>